<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet's HomePage</title>
</head>
<body>
<h1> Planets!</h1>
<p>collecting your fav planets here</p>
</body>
</html>
