<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a planet!</title>
</head>
<body>
<h1>Add a planet</h1>
<a href="/planets">back to home</a>
<form action="/planets" method="POST">
    <label for="name">Name</label>
        <input type="text" name="name" id="name">
    <label for="distanceFromSun">Distance from Sun</label>
        <input type="number" name="distanceFromSun" id="distanceFromSun">
    <label for="hasRings">Does this planet have rings?</label>
        <input type="checkbox" name="hasRings" id="hasRings">
    <label for="hasMoons">How many moons? </label>
        <input type="number" name="hasMoons" id="hasMoons">
    <button>submit</button>
</form>
</body>
</html>
